<footer class="footer">
  <small>
    Courtesy of 
    <a href="https://github.com/RaphaelDeLaGhetto/rails-devise-template">RaphaelDeLaGhetto</a>,
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
